:root{
    /*----------- color variables -------------*/
    --bacground-color: #323840;
    --upper-background-color: #3b424c;
    --primary-color: #627fad;
    --text-color: #c9ccd3;
    --drop-shadow-color: #252830;

    /*----------- dimension variables -------------*/
    --mobile-navigation-height: 70px;

}

