*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    color: var(--text-color);
}

body{
    background-color: var(--bacground-color);
}


.header-test{
    position: relative;
    font-size: 40px;
    transform: translateY( -50%);
    top: 50%;
}

.banner-test{
    text-align: center;
    position: relative;
    width: 100%;
    height: var(--mobile-navigation-height);
    background-color: var(--upper-background-color);
    filter: drop-shadow(0px 0px 5px var(--drop-shadow-color));
}

.spacer{
    margin-left:10px;
    margin-right:10px;

}

.test-title{
    font-size: 30px ;
}

.title-case-container{
    position: relative;
    width: 100%;
    height: 30px;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;

}

.test-case-title{
    margin-bottom: 10px;
    margin-top: 10px;
}


.test-class{
    width: fit-content;
    height: fit-content;
    margin: 10px;
    background-color: var(--upper-background-color);
    border-radius: 10px;
    padding-bottom: 10px;
}
